* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    background: #97D0EB;
    height: 100%;
    width: 100%;
    // background-image: url(https://assets.imgix.net/unsplash/mountains.jpg?w=1260&auto=compress&cs=tinysrgb&dpr=2&h=750);
    // background-size: cover;
    // background-repeat: no-repeat;
    // -webkit-filter: blur(30px);
    // filter: blur(30px);
}